aniso8601==8.0.0
argon2-cffi==19.1.0
attrs==19.1.0
blinker==1.4
bson==0.5.8
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
clickclick==1.2.2
Flask==1.1.1
Flask-Cors==3.0.8
flask-google-cloud-logger==0.2.1
Flask-Injector==0.12.0
Flask-JWT-Extended==3.23.0
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
flask-restplus==0.13.0
google-cloud-logger==0.2.1
gunicorn==19.9.0
idna==2.8
inflection==0.3.1
injector==0.17.0
itsdangerous==1.1.0
Jinja2==2.10.1
jsonschema==3.0.2
MarkupSafe==1.1.1
openapi-spec-validator==0.2.8
passlib==1.7.1
pycparser==2.19
PyJWT==1.7.1
pymongo==3.9.0
pyrsistent==0.15.4
python-dateutil==2.8.0
python-json-logger==0.1.11
pytz==2019.2
PyYAML==5.1.2
redis==3.3.8
requests==2.22.0
six==1.12.0
typing==3.7.4.1
urllib3==1.25.4
Werkzeug==0.16.0
